body,
nav,
dropdown,
header {
	background-color: #f7f3eb;
}
body {
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica,
		Arial, sans-serif;
}
.menu-subject > li {
	background-color: #f7f3eb;
}
.navbar-nav li a {
	color: #05192d;
}
.item-login {
	background-color: #f7f3eb;
}
.item-login li a {
	color: #05192d;
}
.list-cart > .card {
	width: 250px;
	height: 350px;
	/* background-color: #e7e9eb; */
	cursor: pointer;
	border: none;
	border-radius: 10px;
}
.list-cart > .card h4,
i {
	color: #05192d;
}
.list-cart > .card:hover {
	box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.4);
}
.img-card {
	color: #f7f3eb;
	text-align: center;
}
.name-card {
	color: #f7f3eb;
}
.list-subject ul li a {
	text-decoration: none;
	color: #05192d;
}
.list-subject ul li a:hover {
	color: #0769ca;
}
.page-link {
	background-color: transparent;
	font-weight: bold;
	color: #05192d;
	border: none;
}
footer p {
	color: #f7f3eb;
}
footer h4 {
	color: #d89002;
}
footer .contact {
	text-align: center;
}
footer a {
	text-decoration: none;
}
footer,
footer > p {
	background-color: #05192d;
}
.container-footer {
	display: flex;
	align-items: flex-start;
}
