<div class="manage-users" ng-controller="list_subjects" ng-if="isAdmin">
	<div class="row">
		<div class="d-flex justify-content-between me-3 p-3">
			<input
				type="text"
				ng-model="keyWord"
				class="form-control me-3"
				placeholder="Tìm kiểm"
			/>
			<button
				class="btn btn-primary"
				data-bs-toggle="modal"
				data-bs-target="#edit"
				ng-click="showModal(null, -1)"
			>
				<b><i class="bi bi-plus-lg"></i></b>
			</button>
		</div>
	</div>
	<div class="list row">
		<div class="p-4 m-auto row table-responsive">
			<table
				class="table col-10 table-striped table-bordered table-hover text-nowrap"
			>
				<thead>
					<th>#</th>
					<th>Mã môn</th>
					<th>Tên môn</th>
					<th style="width: 100px"></th>
				</thead>
				<tbody>
					<tr
						ng-repeat="subject in subjects | filter : keyWord | limitTo: 10 : startIndex"
					>
						<td>{{$index + 1}}</td>
						<td>{{subject.Id}}</td>
						<td><a ng-click="redirectToQuestions(subject.Id)">{{subject.Name}}</a></td>
						<td>
							<div class="d-flex justify-content-left">
								<button
									class="btn btn-link text-danger m-1 text-decoration-none"
									ng-click="deleteSubject(subject.id, $index)"
								>
									Xóa
								</button>
								<button
									class="btn btn-link m-1 text-decoration-none"
									data-bs-toggle="modal"
									data-bs-target="#edit"
									ng-click="showModal(subject,$index)"
								>
									Edit
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row" ng-if="subjects.length > 10">
				<div class="pagination d-flex justify-content-center">
					<div class="">
						<button class="btn m-2" ng-click="first()">
							<i class="bi bi-skip-start-fill"></i>
						</button>
					</div>
					<div class="">
						<button class="btn m-2" ng-click="previous()">
							<i class="bi bi-skip-backward-fill"></i>
						</button>
					</div>
					<div class="">
						<button class="btn m-2" ng-click="next()">
							<i class="bi bi-skip-forward-fill"></i>
						</button>
					</div>
					<div class="">
						<button class="btn m-2" ng-click="last()">
							<i class="bi bi-skip-end-fill"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
		class="modal fade"
		id="edit"
		tabindex="-1"
		aria-labelledby="exampleModalLabel"
		aria-hidden="true"
	>
		<div class="modal-dialog">
			<form
				action=""
				name="info_form"
				ng-submit="onSubmit($event, info_form)"
			>
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							{{isCreate ? 'Thêm môn học': 'Sửa môn học'}}
						</h5>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<div
							class="mb-3 d-flex align-items-center row"
						>
							<label for="ma" class="col-sm-2 form-label"
								>Mã môn học</label
							>
							<div class="col-sm-10">
								<div class="">
									<input
										type="text"
										class="form-control"
										id="ma"
										name="ma"
										required
										ng-model="subject.Id"
										ng-model-options="{updateOn: 'blur'}"
										check-ma-exist
									/>
								</div>
								<div
									class="text-danger"
									ng-hide="info_form.ma.$untouched || info_form.ma.$valid"
								>
									<small
										ng-show="info_form.ma.$error.required"
									>
										Vui lòng nhập mã môn học
									</small>
									<small
										ng-show="info_form.ma.$error.check_ma_exist"
									>
										Mã môn học này đã tồn tại
									</small>
								</div>
							</div>
						</div>
						<div class="mb-3 d-flex align-items-center row">
							<label
								for="name"
								class="col-sm-2 col-form-label"
								>Tên môn học</label
							>
							<div class="col-sm-10">
								<div class="">
									<input
										type="text"
										class="form-control"
										id="name"
										name="name"
										ng-model="subject.Name"
										required
									/>
								</div>
								<div
									class="text-danger"
									ng-hide="info_form.name.$untouched || info_form.name.$valid"
								>
									<small
										ng-show="info_form.name.$error.required"
										>Vui lòng nhập tên môn học</small
									>
								</div>
							</div>
						</div>
						<!-- <div class="mb-3 d-flex align-items-center row">
							<label for="email" class="col-sm-2 col-form-label"
								>Ảnh</label
							>
							<div class="col-sm-10">
								<div class="">
									<input
										type="email"
										class="form-control"
										id="email"
										ng-model="subject.email"
										name="email"
										required
										check-email-exist
									/>
								</div>
								<div
									ng-hide="info_form.email.$valid || info_form.email.$untouched"
									class="text-danger"
								>
									<small
										ng-show="info_form.email.$error.required"
										>Vui lòng nhập email</small
									>
									<small
										ng-show="info_form.email.$error.email"
										>Không dúng định dạng email</small
									>
									<small
										ng-show="info_form.email.$error.check_email_exist"
									>
										Email này đã được đăng ký
									</small>
								</div>
							</div>
						</div> -->
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" data-bs-dismiss="modal">
							Lưu
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
